body{
    background-color: #f0f4f8;
    font-family: "Poppins", sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
section{
    background: white;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
img{
    display: block;
    margin: 0 auto 15px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}
p{
    text-align: justify;
    font-size: 17px;
    margin: 15px 0;
  }
  strong {
    color: #004aad;
  }

  header {
    background: linear-gradient(45deg, #004aad, #00bcd4);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
    letter-spacing: 1px;
  }

.link{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #004aad;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  .link:hover {
    background-color: #ff005c;
  }
  .link:active{
    background-color: rgb(137, 241, 32);
  }
.primary{
background-image: url(images/Scientists2.jpg);
padding: 30px;

}
footer {
  text-align: center;
  background-color: #004aad;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
}
.all-imp{
    background: #ff005c;
}
.specialise{
    color: #f0f4f8;
}
.active{
    display: inline-block;
    color: #f0f4f8;
    margin-left: 5px;
}
.important{
 
    color: #210ce0;
    padding: 10px ;
    border-radius: 4px;
}
.important:hover{
    color: #793f3f;
}
.importantnt:active{
    color: rgb(5, 75, 5);
}
.main{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.Ordered{
  list-style-type: upper-roman;
}
table, th, td{
  border: 1px solid black; 
  /* border-collapse: collapse; */
  border-radius: 14px;
}
table{
  width: 100%;
}
